<html>
<body>
  <form  [formGroup]="patient" (ngSubmit)="onSubmit()">

  <label>
    Pesel:
    <input type="text" formControlName="pesel">
  </label>

    <label>
      Imie:
      <input type="text" formControlName="imie">
    </label>

    <label>
    Nazwisko:
    <input type="text" formControlName="nazwisko">
  </label>

  <label>
    Adres:
    <input type="text" formControlName="adres">
  </label>

    <label>
      Nr Telefonu:
      <input type="text" formControlName="nrTelefonu">
    </label>

  <label>
    Nr ubezpieczenia:
    <input type="text" formControlName="nrUbezpieczenia">
  </label>
    <button type="submit" [disabled]="!patient.valid">Submit</button>
</form>
<app-patients></app-patients>
</body>
</html>
