<html>
<body>
<form  id="box" [formGroup]="login" (ngSubmit)="onSubmit()">

  <label>
    ZALOGUJ SIĘ
  </label>

  <label >
    Pesel
    <input type="text" formControlName="pesel">
  </label>

  <label>
    Hasło:
    <input type="password" formControlName="password">
  </label>

  <label>
    Rola:
  <select name="nazwa" formControlName="role">
    <option>user</option>
    <option>doctor</option>
    <option>receptionist</option>
  </select>
  </label>

  <button type="submit" [disabled]="!login.valid">Submit</button>
</form>
</body>
</html>
