
<div id="container" style="display: flex; justify-content: space-around">
<h1>PRZYCHODNIA "ZDROWIE"</h1>
<nav>
  <a  [routerLink]= "['/home']"><button> Strona główna </button> </a>
  <a *ngIf="role == 'doctor' || role == 'recepcjonist' " [routerLink]= "['/patients']"><button> Pacjenci </button> </a>
  <a *ngIf="role == 'user' " [routerLink]= "['/showPatientCard/' + pesel]"><button> Karta Pacjenta </button> </a>
  <a *ngIf="role == '' || role == NULL" [routerLink]= "['/patientAdd']"><button> Dodaj pacjenta </button> </a>
  <a  style="align-content: center" [routerLink]= "['/doctors']" ><button> Lekarze  </button></a>
 <a *ngIf="role == '' || role == NULL" [routerLink]= "['/log-in']">  <button>Logowanie</button></a>
  <a *ngIf="role == '' || role == NULL" [routerLink]= "['/registration']" > <button>Rejestracja</button></a>
  <a *ngIf="role != '' && role != NULL" [routerLink]= "['/log-in']" (click)="logout()" > <button>logout</button></a>
</nav>

</div>

