<div id="container" style="display: flex; justify-content: space-around">
  <img src="../../assets/background/menu.jpg" width="100px" >
<nav  >
  <a [routerLink]= "['/patients']"><div> Pacjenci </div> </a>
  <a style="align-content: center" [routerLink]= "['/doctors']" ><div> Lekarze  </div></a>
 <a [routerLink]= "['/log-in']">  <div>Logowanie</div></a>
  <a [routerLink]= "['/registration']" > <div>Rejestracja</div></a>
</nav>
  <img src="../../assets/background/menu.jpg" width="100px" >
</div>
