<div id="container" style="display: flex; justify-content: space-around">
  <img src="../../assets/background/menu.jpg" width="100px" >
<nav>
  <a  [routerLink]= "['/home']"><div> Strona główna </div> </a>
  <a *ngIf="role == 'user' " [routerLink]= "['/patients']"><div> Pacjenci </div> </a>
  <a *ngIf="role == '' || role == NULL" [routerLink]= "['/patientAdd']"><div> Dodaj pacjenta </div> </a>
  <a  style="align-content: center" [routerLink]= "['/doctors']" ><div> Lekarze  </div></a>
 <a *ngIf="role == '' || role == NULL" [routerLink]= "['/log-in']">  <div>Logowanie</div></a>
  <a *ngIf="role == '' || role == NULL" [routerLink]= "['/registration']" > <div>Rejestracja</div></a>
  <a *ngIf="role != '' && role != NULL" [routerLink]= "['/log-in']" (click)="logout()" > <div>logout</div></a>
</nav>
  <img src="../../assets/background/menu.jpg" width="100px" >
</div>
