<html>
<body >
<form  id="box" [formGroup]="signup" (ngSubmit)="onSubmit()">

  <label>
    ZAREJESTRUJ SIĘ:
  </label>

  <label >
    Pesel
    <input type="text" formControlName="pesel">
  </label>

  <label>
    Hasło:
    <input type="text" formControlName="password">
  </label>

  <label>
    Powtórz hasło:
    <input type="text" formControlName="rpassword">
  </label>
  <label>
    E-mail:
    <input type="text" formControlName="mail">
  </label>


  <button type="submit" [disabled]="!signup.valid">Zarejestruj</button>
</form>
</body>
</html>
