<html>
<body align="center">
<p></p>
<b>Przychodnia Południe udziela świadczenia zdrowotne w ramach umów z Narodowym Funduszem Zdrowia. Personel Przychodni Południe realizując swoją misję, zapewnia pacjentom profesjonalną,
życzliwą opiekę medyczną w zakresie podstawowej i specjalistycznej opieki zdrowotnej,
  przestrzeganie praw pacjenta, zapewnienie poczucie bezpieczeństwa zdrowotnego oraz rozwój działań z zakresu powszechnej profilaktyki i promocji zdrowia.</b>
<p>Pacjenci, którzy zaczęli korzystać z umawiania terminu wizyt przez internet, dla siebie lub swojego dziecka, wyrażają zadowolenie z tej formy kontaktu. Szczególnie cenią to, że:</p>
<section>
<ul class="list">
  <li>mogą dokonać rejestracji w dowolnej porze,</li>
  <li>z dowolnego miejsca,</li>
  <li>nawet nie wychodząc z domu,</li>
  <li>w każdej chwili mogą sprawdzić termin wizyty (datę i godzinę),</li>
</ul>
</section>
</body>
</html>
