
body{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/background/back.jpg");
}
form{
  flex-direction: column;
  display: flex;
  width: content-box;
  width: 50%;
  justify-content:space-around;
  height: 500px;

  display: flex;
  flex-wrap: wrap;
  align-content: center;


}
label{
  display: flex;

  justify-content: space-between;

}
button{
  width: 100px;
}
input{
  height: 12px;
}


