<html>
<body>
<h1>Dodaj lekarza</h1>
<form  [formGroup]="doctor" (ngSubmit)="onSubmit()">

  <label>
    Id Lekarza:
    <input type="text" formControlName="doctorId">
  </label>

  <label>
    Imie
    <input type="text" formControlName="name">
  </label>

  <label>
    Nazwisko:
    <input type="text" formControlName="surname">
  </label>

  <label>
    Specjalność:
    <input type="text" formControlName="speciality">
  </label>

  <label>
    Nr telefonu:
    <input type="text" formControlName="phoneNumber">
  </label>


  <button type="submit" [disabled]="!doctor.valid">Dodaj lekarza</button>
</form>
</body>
</html>
